@tailwind base;
@tailwind components;
@tailwind utilities;


/* Poppins */
@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Medium.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
  

/* Roboto */   
@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}



/* Lora */
@font-face {
  font-family: 'Lora';
  src: url('./assets/fonts/Lora-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@keyframes clientScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}


.animate-clientScroll {
  animation: clientScroll 10s linear infinite;
  display: flex;
  width: max-content;
  will-change: transform;
} 

@keyframes floatSlow {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(40px); }
}

@keyframes floatSlower {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-30px); }
}

.animate-floatSlow {
  animation: floatSlow 14s ease-in-out infinite;
}

.animate-floatSlower {
  animation: floatSlower 18s ease-in-out infinite;
}


  @keyframes clientScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-clientScroll {
  animation: clientScroll 20s linear infinite;
}

